/* 

This CSS file is contains the CSS rule sets for 
    - index.html
    - any universal elements that all pages use

The CSS for the resources.html is in resources.css

*/

/************************************************/
/************* UNIVERSAL ELEMENTS ***************/
/************************************************/

/* TODO: Customize your font properties and background color for all elements inside the <body> and <html> tags */
body,
html {
  height: 100%;
  font-size: 20px; /* Change the font size*/
  font-family: "Roboto", sans-serif; /* Change the font */
  line-height: 1.5em; /* Change the line height size*/
  margin: 0em;
  color: #020e4f; /* Change the font color*/
  background-color: #0D38D3; /* Change the background color */
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  /*TODO: Change the font-family property to your linked font*/
  font-family: "Roboto Mono", sans-serif;
  color: white;
  text-align: center;
}

/*TODO: Change the font-family property to your linked font*/
h2 {
  letter-spacing: 4px;
  font-size: 35px;
  font-family: "Roboto Mono", sans-serif;
  color: #0c1d78;
  text-align: center;
  line-height: 1.3em;
}

h3 {
  letter-spacing: 0px;
  font-size: 25px;
  font-family: "Roboto Mono", sans-serif;
  color: #0c1d78;
  text-align: left;
  line-height: 1.3em;
}

/*TODO: Change the color of a link when a person hovers over it*/
p a {
  color: #0A44D5;
  text-decoration: none;
}

/************************************************/
/*************** CSS FOR NAV BAR ****************/
/************************************************/

/* All of these TODOs are optional. You should change the styling based on your mockup */

/* TODO (optional): Change the background color and/or border style */

ul.nav-bar {
  /* Styling for the <ul class="nav-bar"> element */
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row-reverse;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0A44D5;
}

/* TODO (optional): Change the font size*/

li.nav {
  /* Styling for the <li class="nav"> element */
  float: right;
  font-size: 15px;
}

/* TODO (optional): Change the font color, decoration, and/or case */

li.nav a {
  /* Styling for the <a> elements in <li class="nav"> */
  display: flex;
  color: #bda8ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* TODO (optional): Change the background color and/or font color when the mouse hovers over an item */

li.nav a:hover {
  /* Styling for the <a> elements when the mouse is hovering in <li class="nav"> */
  background-color: #200085;
  color: #ff4599;
}

/************************************************/
/*********** CSS FOR FLEXBOX HEADING ************/
/************************************************/

/* TODO: Review the CSS properties to the flexbox container for title and intro text */
.flex-container {
  display: flex; /* Set the flexbox display */
  flex-direction: row; /* Configure the flex items to row */
  flex-wrap: no-wrap; /* Do not wrap the flex items */
  justify-content: center; /* Justify the flex items to the center */
  align-items: center; /* Align the flex items to the center */

  /* Design properties */
  background-color: #0D38D3;
  padding: 5px;
  

  /* Positioning properties */
  position: absolute;
  left: 20%;
  right: 20%;
  top: 30%; /* Change this value to move the box up or down */
  
  

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Review the CSS properties to the flex item for the heading (the left box)note this is where to change the color of title of page words */
.heading {
  padding: 4%;
  color: #A7B6F1; /* note this is where to change the color of title of page words */
  font-size: 50px;
  letter-spacing: 7px;
  line-height: 50px;
  text-align: center;

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Review the CSS properties to the flex item for the intro text (the right box)*/
.intro-text {
  background-color: #A7B6F1; /* Add your own background color */
  padding: 5%;
  margin: 2%;
  color: #0D38D3; /* Add the color of your font */
  font-size: 30px; /* Add your font size*/
  letter-spacing: 2px; /* Adds space between letters */
  line-height: 1.4em; /* Adds space between lines */
  text-align: center;

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

.app {
  display: flex;
  padding: 3%;
  margin: 3%;
  align-self: center; /* Align the flex items to the center */
  background-color: #A7B6F1;
  border-style: double;
  
}

.aside {
  width: 50%;
  display: flex;
  flex-wrap: no-wrap;
  padding: 15px;
  margin-left: 15px;
  align-self: center;
  font-size: 25px;
  font-family: "Roboto Mono", sans-serif;
  color: #0c1d78;
  background-color: #A7B6F1;
  border-style: double;
  line-height: 1.9em;
  
}

.aside h3 {
  font-size: .95rem;
  line-height: 1.5rem;
}

/************************************************/
/*************** PARALLAX SCROLL ****************/
/************************************************/

/*-----------TEXT SECTIONS-----------*/

/* TODO (optional): Change the background color and/or text alignment */

.app-section {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center
  background-color: #A7B6F1; /* Add your own background color (currently the black box section) */
  padding: 2rem 4.5rem; /* 20px 45px */
  margin: 0;
  text-align: center;
}

.text-section {
  display: block;
  background-color: #A7B6F1; /* Add your own background color (currently the black box section) */
  padding: 2rem 4.5rem; /* 20px 45px */
  margin: 35px;
  text-align: center;
}

/*---------IMAGE STYLING + PARALLAX PROPERTY---------*/

/* TODO: Add the CSS selector for each image to the collective image rule set */

.attributions {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 12px;
  color: white;
  font-family: "Roboto Mono", sans-serif;
}

@media screen and ((max-width: 1286px) and (min-width: 601px)) {
  div.flexcontainer {
    flex-wrap: wrap;
    top: 20%;
    left: 10%;
    right: 10%;
    
  }
  
  div.aside {
    width: 100%;
  }
  
  div.app {
    display: flex;
    width: 100%;
    align-self: center;
  }
  
  div.app-section {
    flex-wrap: wrap;
    padding: 1rem 1rem;
  }
  
  .heading {
    font-size: 2rem;
    line-height: 3rem;
  }
  
  .intro-text {
    font-size: 2rem;
    line-height: 3rem;
  }
  
}

@media screen and (max-width: 600px) {
  div.flexcontainer {
    flex-wrap: wrap;
    top: 20%;
    left: 5%;
    right: 5%;    
  }
  
  div.aside {
    width: 100%;
  }
  
  div.app {
    display: flex;
    width: 100%;
    align-self: center;
  }
  
  div.app-section {
    flex-wrap: wrap;
  }
  
  .heading {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .intro-text {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  
  ul.nav-bar {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column-reverse;
  }
  
  .text-section h3 {
    font-size: .85rem;
    line-height: 1.5rem;
    padding: 0;
  }
  
  .app-section h3 {
    font-size: .85rem;
    line-height: 1.5rem;
    padding: 0;
  }
}


.source-tag {
  position: center;
  font-size: 15px;
  color: #0c1d78;
  font-family: "Roboto Mono", sans-serif;
}

.main-message,
.image-one {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #A7B6F1;
  background-size: cover;
  min-height: 100%; /* This adjusts the height of the image */

  /* Property to create the parallax scrolling effect here */
  background-attachment: fixed;
}

/* TODO: Replace the current image URL with your own. This is the first image on your page. */
.home .main-message {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fcranium-3244122_640.png?v=1611077986951");
}
.anxiety .main-message {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fquestion-1301144_1920.png?v=1615330846225");
}
.social-isolation .main-message {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fgirl-1822702_1920.jpg?v=1620161648823");
}
.ocd .main-message {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Frose-165819_1280.jpg?v=1615328950763");
}
.resources .main-message {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fdesperate-2293377_1920.jpg?v=1615929644599");
}

/* TODO: Replace the current image URL with your own.  This is the second image on your page. */

.home .image-one {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fmental-health-2019924_1280.jpg?v=1610491065774");
}
.anxiety .image-one {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Ffear-2012536_1280.jpg?v=1615331157476");
}
.social-isolation .image-one {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Falone-2666433_1920.jpg?v=1620169846095");
}
.ocd .image-one {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fbath-towels-5849999_1920.jpg?v=1615331383777");
}
.resources .image-one {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fgirl-1822702_1920.jpg?v=1615929659413");
}

.main-message,
.image-one,
.image-two {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #A7B6F1;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
}

/* TODO: Replace the current image URL with your own.  This is the third image on your page. */
.home .image-two {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fsmiley-2979107_640%20(1).jpg?v=1611112144157");
}
.anxiety .image-two {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fstress-2902537_1920.jpg?v=1615331024633");
}
.social-isolation .image-two {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Ffriends-1262152_1920.jpg?v=1620170717493");
}
.ocd .image-two {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fhand-washing-4818792_1920.jpg?v=1615329152186");
}
.resources .image-two {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fdog-1031058_1920.jpg?v=1615330232243");
}

.main-message,
.image-one,
.image-two,
image-three {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #A7B6F1;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
}

/* TODO: Replace the current image URL with your own.  This is the fourth image on your page. */
.home .image-three {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fsad-505857_640%20(1).jpg?v=1611183219804");
}
.anxiety .image-three {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fnature-3092555_1920.jpg?v=1615331295987");
}
.social-isolation .image-three {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fpeople-3104635_1920.jpg?v=1620215231881");
}
.ocd .image-three {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fbutterfly-2049567_1920.jpg?v=1615331452601");
}
.resources .image-three {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fyoga-2176668_1920.jpg?v=1615929676585");
}

.main-message,
.image-one,
.image-two,
.image-three,
image-four {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #A7B6F1;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
}

/* TODO: Replace the current image URL with your own.  This is the fifth image on your page. */
.home .image-four {
  background-image: url("");
}
.anxiety .image-four {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fbackground-3017167_1920.jpg?v=1615331704889");
}
.social-isolation .image-four {
  background-image: url("");
}
.ocd .image-four {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fink-2229457_1920.jpg?v=1615834593759");
}
.resources .image-four {
  background-image: url("");
}

/* TODO: If needed, Add more background images by repeating the process above */

/*-----------IMAGE ATTRIBUTIONS (if required)-----------
.attributions {
  position: absolute;
  font-size: 12px;
  text-align: right;
  right: 10px;
  bottom: 10px;
}
*/

/******************************************************/
/***** CHANGE INDEX.HTML CSS BASED ON SCREEN SIZE *****/
/******************************************************/

/* TODO: Add a breakpoint if the screen is 700px or less */

/* TODO: Add additional breakpoints based on your website's design*/
