/* 

This CSS file is contains the CSS rule sets for 
    - index.html
    - any universal elements that all pages use

The CSS for the resources.html is in resources.css

*/

/************************************************/
/************* UNIVERSAL ELEMENTS ***************/
/************************************************/

/* TODO: Customize your font properties and background color for all elements inside the <body> and <html> tags */
body,
html {
  height: 100%;
  font-size: 20px; /* Change the font size*/
  font-family: "Roboto", sans-serif; /* Change the font */
  line-height: 1.5em; /* Change the line height size*/
  margin: 0em;
  color: #020e4f; /* Change the font color*/
  background-color: #0D38D3; /* Change the background color */
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  /*TODO: Change the font-family property to your linked font*/
  font-family: "Roboto Mono", sans-serif;
  color: white;
  text-align: center;
}

/*TODO: Change the font-family property to your linked font*/
h2 {
  letter-spacing: 4px;
  font-size: 35px;
  font-family: "Roboto Mono", sans-serif;
  color: #0c1d78;
  text-align: center;
  line-height: 1.3em;
}

h3 {
  letter-spacing: 0px;
  font-size: 25px;
  font-family: "Roboto Mono", sans-serif;
  color: #0c1d78;
  text-align: left;
  line-height: 1.3em;
}

/*TODO: Change the color of a link when a person hovers over it*/
p a {
  color: #0A44D5;
  text-decoration: none;
}

/************************************************/
/*************** CSS FOR NAV BAR ****************/
/************************************************/

/* All of these TODOs are optional. You should change the styling based on your mockup */

/* TODO (optional): Change the background color and/or border style */

ul.nav-bar {
  /* Styling for the <ul class="nav-bar"> element */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0A44D5;
}

/* TODO (optional): Change the font size*/

li.nav {
  /* Styling for the <li class="nav"> element */
  float: right;
  font-size: 15px;
}

/* TODO (optional): Change the font color, decoration, and/or case */

li.nav a {
  /* Styling for the <a> elements in <li class="nav"> */
  display: block;
  color: #bda8ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* TODO (optional): Change the background color and/or font color when the mouse hovers over an item */

li.nav a:hover {
  /* Styling for the <a> elements when the mouse is hovering in <li class="nav"> */
  background-color: #200085;
  color: #ff4599;
}

/************************************************/
/*********** CSS FOR FLEXBOX HEADING ************/
/************************************************/

/* TODO: Review the CSS properties to the flexbox container for title and intro text */
.flex-container {
  display: flex; /* Set the flexbox display */
  flex-direction: row; /* Configure the flex items to row */
  flex-wrap: nowrap; /* Donâ€™t wrap the flex items */
  justify-content: center; /* Justify the flex items to the center */
  align-items: center; /* Align the flex items to the center */

  /* Design properties */
  background-color: #0D38D3;
  padding: 5px;

  /* Positioning properties */
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%; /* Change this value to move the box up or down */

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Review the CSS properties to the flex item for the heading (the left box)note this is where to change the color of title of page words */
.heading {
  padding: 4%;
  color: #A7B6F1; /* note this is where to change the color of title of page words */
  font-size: 50px;
  letter-spacing: 7px;
  line-height: 50px;
  text-align: center;

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Review the CSS properties to the flex item for the intro text (the right box)*/
.intro-text {
  background-color: #A7B6F1; /* Add your own background color */
  padding: 5%;
  margin: 2%;
  color: #0D38D3; /* Add the color of your font */
  font-size: 30px; /* Add your font size*/
  letter-spacing: 2px; /* Adds space between letters */
  line-height: 1.4em; /* Adds space between lines */
  text-align: center;

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}
.app {
  padding: 3%;
  margin: 3%;
  align-items: right; /* Align the flex items to the center */
  display: flex;
}

.aside {
  width: 60%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
  font-size: 25px;
  font-family: "Roboto Mono", sans-serif;
  color: #0c1d78;
  line-height: 1.9em;
  background-color: #A7B6F1;
  border-style: double;
}
/************************************************/
/*************** PARALLAX SCROLL ****************/
/************************************************/

/*-----------TEXT SECTIONS-----------*/

/* TODO (optional): Change the background color and/or text alignment */

.text-section {
  background-color: #A7B6F1; /* Add your own background color (currently the black box section) */
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
}

/*---------IMAGE STYLING + PARALLAX PROPERTY---------*/

/* TODO: Add the CSS selector for each image to the collective image rule set */

.attributions {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 12px;
  color: white;
  font-family: "Roboto Mono", sans-serif;
}

@media screen and (max-width; 700px) {
  .flexcontainer {
    flex-wrap: wrap;
    top: 20%;
  }
}
.source-tag {
  position: center;
  font-size: 15px;
  color: #0c1d78;
  font-family: "Roboto Mono", sans-serif;
}

.main-message,
.image-one {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #A7B6F1;
  background-size: cover;
  min-height: 100%; /* This adjusts the height of the image */

  /* Property to create the parallax scrolling effect here */
  background-attachment: fixed;
}

/* TODO: Replace the current image URL with your own. This is the first image on your page. */
.home .main-message {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fcranium-3244122_640.png?v=1611077986951");
}
.anxiety .main-message {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fquestion-1301144_1920.png?v=1615330846225");
}
.social-isolation .main-message {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fgirl-1822702_1920.jpg?v=1620161648823");
}
.ocd .main-message {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Frose-165819_1280.jpg?v=1615328950763");
}
.resources .main-message {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fdesperate-2293377_1920.jpg?v=1615929644599");
}

/* TODO: Replace the current image URL with your own.  This is the second image on your page. */

.home .image-one {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fmental-health-2019924_1280.jpg?v=1610491065774");
}
.anxiety .image-one {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Ffear-2012536_1280.jpg?v=1615331157476");
}
.social-isolation .image-one {
  background-image: url("");
}
.ocd .image-one {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fbath-towels-5849999_1920.jpg?v=1615331383777");
}
.resources .image-one {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fgirl-1822702_1920.jpg?v=1615929659413");
}

.main-message,
.image-one,
.image-two {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #A7B6F1;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
}

/* TODO: Replace the current image URL with your own.  This is the third image on your page. */
.home .image-two {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fsmiley-2979107_640%20(1).jpg?v=1611112144157");
}
.anxiety .image-two {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fstress-2902537_1920.jpg?v=1615331024633");
}
.social-isolation .image-two {
  background-image: url("");
}
.ocd .image-two {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fhand-washing-4818792_1920.jpg?v=1615329152186");
}
.resources .image-two {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fdog-1031058_1920.jpg?v=1615330232243");
}

.main-message,
.image-one,
.image-two,
image-three {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #A7B6F1;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
}

/* TODO: Replace the current image URL with your own.  This is the fourth image on your page. */
.home .image-three {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fsad-505857_640%20(1).jpg?v=1611183219804");
}
.anxiety .image-three {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fnature-3092555_1920.jpg?v=1615331295987");
}
.social-isolation .image-three {
  background-image: url("");
}
.ocd .image-three {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fbutterfly-2049567_1920.jpg?v=1615331452601");
}
.resources .image-three {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fyoga-2176668_1920.jpg?v=1615929676585");
}

.main-message,
.image-one,
.image-two,
.image-three,
image-four {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #A7B6F1;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
}

/* TODO: Replace the current image URL with your own.  This is the fifth image on your page. */
.home .image-four {
  background-image: url("");
}
.anxiety .image-four {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fbackground-3017167_1920.jpg?v=1615331704889");
}
.social-isolation .image-four {
  background-image: url("");
}
.ocd .image-four {
  background-image: url("https://cdn.glitch.com/c572d657-e3bf-4b2d-8a3d-b710e9e6082b%2Fink-2229457_1920.jpg?v=1615834593759");
}
.resources .image-four {
  background-image: url("");
}

/* TODO: If needed, Add more background images by repeating the process above */

/*-----------IMAGE ATTRIBUTIONS (if required)-----------
.attributions {
  position: absolute;
  font-size: 12px;
  text-align: right;
  right: 10px;
  bottom: 10px;
}
*/

/******************************************************/
/***** CHANGE INDEX.HTML CSS BASED ON SCREEN SIZE *****/
/******************************************************/

/* TODO: Add a breakpoint if the screen is 700px or less */

/* TODO: Add additional breakpoints based on your website's design*/
